<!DOCTYPE html>
<html ng-app="eadApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Login Page</title>
         <link href="styles/bootstrap.min.css" rel="stylesheet">
        <link href="styles/login.css" rel="stylesheet">
    </head>
    <body ng-controller="loginCtrl">
        <div class="container">
            <div class="row">
            <div class="container" id="formContainer">

                <form class="form-signin" id="login" ng-submit="login()">
                <h3 class="form-signin-heading">Please log in</h3>
                <input type="username" class="form-control" id="loginName" ng-model="user.username" placeholder="Username" required autofocus>
                <input type="password" class="form-control" id="loginPass" ng-model="user.password" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
              </form>
            </div> <!-- /container -->
            </div>
    	</div>
    	<script src="http://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery"></script>
    	<script type="text/javascript" src="scripts/vendors/angular.min.js"></script>
    	<script type="text/javascript" src="scripts/vendors/angular-sanitize.min.js"></script>
    	<script type="text/javascript" src="scripts/vendors/ui-ace.js"></script>
    	<script src="scripts/vendors/abn_tree_directive.js"></script>
    	<script src="app.js"></script>
</body>
</html>